<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles\style.css">
    <title>confirm</title>

    <style>
        label {
            text-align: center;
        }
    </style>
</head>

<body>
    <form action="/confirm?username=<%= encodeURIComponent(username) %>&newPassword=<%= encodeURIComponent(locals.newPassword) %>" method="post">
        <label>Confirmation code has been sent to your email :</label>
        <input type="code" id="code" name="code" class="password-input" value="" />
        <button type="submit">Confirm</button>
        <% if (errorMessage) { %>
            <p style="color: rgb(144, 55, 55);">
                <%= errorMessage %>
            </p>
            <% } %>
    </form>
</body>

</html>