<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles\style.css">
    <title>Password Reset</title>

    <style>
        .show-password {
            margin-bottom: 0px;
            margin-left: 170px;
            margin-top: 10px;
        }


        .show {
            font-size: xx-small;
            margin-bottom: 40px;
            justify-content: center;
            text-align: center;
            margin-left: 280px;
        }

        .password-input {
            justify-content: center;
            margin-bottom: 0;
        }

        .confirm {
            margin-top: 100px;
        }


    </style>
</head>

<body>

    Forgotten your password ? Create a new one :

    <form id="passwordResetForm" action="/passwordReset" method="post">
        <label>username :
            <input type="text" name="username" value="<%= locals.username %>" readonly/>
        </label>
        <label>new password :
            <input type="password" id="newPassword" name="newPassword" class="password-input" value="<%= locals.newPassword %>" />
            <input type="checkbox" class="show-password">
            <span class="show">Show Password</span>
        </label>

        <label>confirm new password :
            <input type="password" id="newPassword2" name="newPassword2" class="password-input" value="" />
            <input type="checkbox" class="show-password">
            <span class="show">Show Password</span>
        </label>
        
        <button type="submit">Reset Password</button>
        
        <% if (errorMessage) { %>
        <p style="color: rgb(144, 55, 55);">
            <%= errorMessage %>
        </p>
        <% } %>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const showPasswordCheckboxes = document.querySelectorAll('.show-password')
            const newPasswordInputs = document.querySelectorAll('.password-input')

            showPasswordCheckboxes.forEach(function (checkbox, index) {
                checkbox.addEventListener('change', function () {
                    newPasswordInputs[index].type = this.checked ? 'text' : 'password'
                })
            })
        })
    </script>
</body>

</html>